<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI calculator</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <form action="/bmi" method="POST">
            <input type="text" name="height" placeholder="sisesta oma pikkus">
            <input type="text" name="weight" placeholder="sisesta oma kaal">
            <button type="submit">Arvuta</button>
        </form>
        <br>
        <hr>
        <br>
        <p>Sinu kehamassi indeks on: <%= resultToRender.userBMI %></p>
        <br>
        <p>Oled: <%= resultToRender.result %></p>
    </div>
</body>
</html>